.background {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("../assets/banner.webp");
    background-size: cover;
    background-position: center;
    padding: 20px;
}
.container {
    background-color: whitesmoke;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}